{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>HNG - SMS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <link rel="shortcut icon" type="image/icon" href="{% static 'images/favicon.png'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div
        style="background:url('{% static 'images/body.png'%}') no-repeat; background-position: 50% 50%; background-attachment: fixed; width:100%; min-height: 1000px;">
        <div class="container">
            <div class="img-container">
                <a href="/"><img alt="piggy" src="{% static 'images/logo.png' %}" width="250px"></a>
                <div style="float: right; margin-right:15px;">
                    <button class="btn" style="padding:10px 20px;"
                        onclick="location.href='{%url 'index'%}'">Single</button>
                </div>
            </div>


            <div class="form-container">
                <h5 style="color:blue; margin: 0; padding: 0; margin-bottom: 10px;">For group sms</h5>
                <form id="form" action="{%url 'group'%}" method="POST">
                    {%csrf_token%}
                    <div id="dii">
                        <label for="fullname">SenderID</label><br>
                        <input id="phone" name="senderID" placeholder="Name" type="text" required><br>
                    </div>
                    <div id="dii">
                        <label for="fullname">Group Name</label><br>
                        <input id="phone" name="groupname" placeholder="Group Name" type="text" required><br>
                    </div>
                    
                    <br>
                    <div class="del" id="dii">
                        <label for="numbers" >Numbers</label><br>
                        <textarea id="numbers" rows="10" name="numbers"  placeholder="Numbers separated by commas "></textarea>
                        <div class="clear"></div>

                    </div>

                    <div style="text-align: right; ">
                        <button style="width:30%" class="end"> SEND </button>
                    </div>

                </form>

                <div class="clear"></div>
            </div>

            <div class="alert-message-container">
            </div>
            <div id="alert-area" class="alert-area"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{%static 'js/script.js'%}"></script>

</body>